@font-face {
    font-family: coolvetica;
    src: url(font/coolvetica.otf);
}

@media only screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .logo {
        margin-bottom: 10px;
        align-self: center;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'coolvetica';
    margin: 0;
}

.head {
    background-image: linear-gradient(90deg, white, grey);
    padding: 100px
}

.header-wrapper {
    display: flex;
    justify-content: space-between
}

.menu {
    display: flex;
    margin: 2px;
}

.button {
    background-color: white;
    margin: 2px;
    font-family: coolvetica;
    border: none;
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

a {
    margin: auto;
}

button:hover {
    box-shadow: 2px 2px 2px gray
}

.logo {
    display: flex;
    max-width: 30px;
}

h1, h2, h3, p {
    text-align: center;
}

.sliding-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
}

.me, .vm, .braw {
    display: block;
    margin: auto;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 20px black
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.firstrow, .secondrow {
    border: 2px solid black;
    border-radius: 25px
}

.firstrow {
    grid-column: span 2;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0
}

.inline {
    display: inline;
}

.submit {
    width: 100%;
    border-radius: 5px;
}